parameters:
    level: 7
    treatPhpDocTypesAsCertain: true
    #checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/Controller/HomeController.php
        - src/Controller/RegOrdersController.php
        - src/Model/Entity
        - src/Model/Table
